.chat-list {
  flex-grow: 1;
  overflow-y: auto;
  position: relative;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
  min-height: 110px;
  max-height: 110px;
}

.chat-item.active {
  background-color: var(--grey-background-color);
}

.chat-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}

.chat-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chat-head {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.chat-actions > button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--dark-text-color);
  font-size: 1.2em;
  margin-left: 8px;
  width: 20px;
  height: 20px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.chat-name {
  font-weight: bold;
  margin-left: 8px;
}

.chat-preview {
  font-size: 0.9em;
  color: var(--dark-text-color);
}

.chat-date {
  font-size: 0.8em;
  color: var(--dark-text-color);
  margin-left: auto;
}

.delete-header {
  margin: 15px auto;
}
